body {
    font-family: 'Arial', sans-serif;
    background-color: #f0e6f6;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de los Tabs */
.tab {
    display: flex;
    justify-content: center;
    background-color: #ffb6c1;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tab button {
    background-color: #ffb6c1;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.tab button:hover {
    background-color: #ff9cb3;
    transform: scale(1.05);
}

.tab button.active {
    background-color: #ff8298;
}

/* Estilo del Contenido de los Tabs (Álbumes y Photocards) */
.tabcontent, .nested-tabcontent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

/* Estilo para Álbumes y Photocards */
.album, .nested-tabcontent .photocard {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    background-color: #fff0f5;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.album img, .photocard img {
    width: 100%;
    height: auto;
}  
/* Estilos para Responsive Design */
@media (max-width: 768px) {
    .album, .nested-tabcontent .photocard {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .album, .nested-tabcontent .photocard {
        flex: 1 1 100%;
        max-width: 100%;
    }
}