body {
    font-family: 'Arial', sans-serif; /* Fuente principal para el cuerpo */
    background-color: #f3eaf8; /* Fondo en tono rosa pastel */
    color: #6a4b7b; /* Color de texto en tono morado suave */
    margin: 0;
    padding-top: 70px; /* Espacio para la barra de navegación fija */
    line-height: 1.6;
}

h2, h4, h5 {
    font-family: Arial, sans-serif; /* Cambiar a una fuente estándar y más legible */
    font-size: 1.5em; /* Tamaño más grande para los títulos */
    text-align: center;
    color: #9954bb; /* Color morado para los títulos */
    margin: 0.5em 0;
}

.tab {
    width: 100%;
    background: linear-gradient(135deg, #f8d7e0 0%, #c89dd9 100%);
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    justify-content: center; /* Centrar los botones del menú */
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.tab button:hover, .tab button.active {
    background-color: #b88cb0; /* Interacción de color */
}

.tabcontent {
    background: #fffafa; /* Fondo claro */
    border-radius: 8px;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.album, .photocard {
    background-color: #f8d7e0; /* Fondo rosa pastel */
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #c89dd9; /* Borde en tono morado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilos especiales para los precios */
.album p, .photocard p {
    color: #6a4b7b; /* Color de texto morado suave */
    font-weight: bold; /* Texto en negrita para mayor énfasis */
}

.album p:first-of-type, .photocard p:first-of-type {
    font-size: 1.2em; /* Hacer el precio más grande y visible */
    color: #9954bb; /* Color morado más intenso para el precio */
    margin-bottom: 10px;
}

IMG {
    width: 50%;
    height: auto;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

/* Estilos Responsive */
@media screen and (max-width: 600px) {
    .tab button {
        font-size: 12px;
    }

    IMG {
        width: 100%;
    }

    .tab {
        position: static;
    }

    body {
        padding-top: 0;
    }
}

p {
    text-align: justify;
    margin-bottom: 1em;
}

/* Decoración adicional para un look más coqueto */
.album h4, .photocard h5 {
    border-bottom: 2px dashed #c89dd9; /* Borde inferior punteado */
    display: inline-block;
    padding-bottom: 5px;
}

/* Estilos para enlaces */
a {
    color: #9954bb;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #b88cb0;
}
