body {
    font-family: 'Arial', sans-serif;
    background-color: #f0e6f6;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de los Tabs */
.tab {
    display: flex;
    justify-content: center;
    background-color: #ffb6c1;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tab button {
    background-color: #ffb6c1;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.tab button:hover {
    background-color: #ff9cb3;
    transform: scale(1.05);
}

.tab button.active {
    background-color: #ff8298;
}

/* Estilo del Contenido de los Tabs (Albumes y Photocards) */
.tabcontent {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
    gap: 20px; /* Espacio entre los elementos */
    padding: 20px; /* Espaciado alrededor del contenido */
}

/* Estilo para Albumes y Photocards */
.album, .photocard {
    background-color: #fff0f5;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para Responsive Design */
@media (max-width: 768px) {
    .tabcontent {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
    }
    .tab button {
        padding: 8px 10px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .tabcontent {
        grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
    }
}
